-r requirements.txt

## Docs
sphinx==1.5.3
ghp-import==0.5.5  # Github pages
#sphinx_rtd_theme


## Testing
tox==2.6.0
pytest        # Python testing framework
pytest-cov    # Code coverage
pytest-xdist  # Run test parallel


## Versioning
versioneer
