-r requirements.txt

## Docs
sphinx==1.5.3
ghp-import  # Github pages
#sphinx_rtd_theme


## Testing
tox
pytest        # Python testing framework
pytest-cov    # Code coverage
pytest-xdist  # Run test parallel


## Versioning
versioneer
